body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Светлый розовый фон */
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 2.9em;
    color: #000000; /* Насыщенный розовый цвет */
    margin-bottom: 10px;
}

p {
    font-size: 1.4em;
    color: #8a2c68; /* Темный оттенок розового для текста */
    margin-bottom: 30px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.gallery-item {
    width: 280px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 8 40px 70px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff; /* Белый фон карточек */
}

.gallery-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(208, 69, 163, 0.3); /* Розовая тень при наведении */
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 3px solid #ffe6f0; /* Розовая линия под изображением */
}

.gallery-item p {
    padding: 15px;
    font-size: 1.1em;
    color: #d147a3; /* Цвет текста карточек */
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.reviews-section {
    margin: 50px auto;
    text-align: center;
    padding: 30px;
}

.reviews-section h2 {
    font-size: 2em;
    color: #d147a3;
    margin-bottom: 20px;
}

.reviews {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.review {
    background-color: #ffe6f0;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    color: #8a2c68;
}

.review span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #d147a3;
}

footer {
    margin-top: 315px;
    padding: 10px;
    background-color: #d147a3; /* Розовый фон подвала */
    color: #ffffff;
    text-align: center;
    font-size: 1em;
}
