<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Кулинарка</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/fontAwesome.css">
    <link rel="stylesheet" href="css/hero-slider.css">
    <link rel="stylesheet" href="css/owl-carousel.css">
    <link rel="stylesheet" href="css/templatemo-style.css">

    <link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
    <div class="header">
        <div class="container">
            <a href="#" class="navbar-brand scroll-top">AITU kitchen</a>
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="recipes.html">Recipes</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>


    <section class="heading1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Pizza </h2>
                    <p>This pizza will appeal to everyone at home; in addition, they are prepared much faster than store-bought and in a restaurant, as they turn out much juicier and tastier.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="breakfast-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="breakfast-menu-content">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="left-image">
                                    <img src="img/pizza/10.jpg" alt="Breakfast">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h2>How to cook</h2>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <div class="ingredients">
                                            <div class="left-column">
                                                <h4>Ingredients :</h4>
                                                <h4>Wheat flour - 300 grams</h4>
                                                <h4>Warm water - 300 grams</h4>
                                                <h4>Vegetable oil - 3 tablespoons</h4>
                                                <h4>Dry yeast - 1 teaspoon</h4>
                                                <h4>Sugar - 1 teaspoon</h4>
                                                <h4>Salt - 1 pinch</h4>
                                                <h4>Pepperoni sausage - 200 grams</h4>
                                                <h4>Mozzarella - 300 grams</h4>
                                                <h4>Tomato sauce - 4 tablespoons</h4>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="breakfast-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="breakfast-menu-content">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>First step</h2>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <h4></h4>
                                        <h4>Prepare all the necessary ingredients. Take the mozzarella that is more often on sale.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="right-image">
                                    <img src="img/pizza/1.jpg" alt="Breakfast">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="breakfast-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="breakfast-menu-content">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="left-image">
                                    <img src="img/pizza/2.jpg" alt="Breakfast">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h2>Second step</h2>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <h4></h4>
                                        <h4>Sift flour into a deep bowl, add sugar, salt, butter and yeast, pour in warm water. </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="breakfast-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="breakfast-menu-content">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>Third step</h2>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <h4></h4>
                                        <h4>Mix all the ingredients first with a spoon.
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="right-image">
                                    <img src="img/pizza/3.jpg" alt="Breakfast">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="breakfast-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="breakfast-menu-content">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="left-image">
                                    <img src="img/pizza/4.jpg" alt="Breakfast">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h2>Fourth step</h2>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <h4></h4>
                                        <h4>Then knead the dough with your hands, if necessary, add a little flour, the dough should stick to your hands a little. Cover the bowl with plastic wrap and leave for 30 minutes in a warm place.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="breakfast-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="breakfast-menu-content">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>Fifth step</h2>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <h4></h4>
                                        <h4>In the meantime, slice the sausage thinly and chop the mozzarella in any convenient way.</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="right-image">
                                    <img src="img/pizza/5.jpg" alt="Breakfast">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="breakfast-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="breakfast-menu-content">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="left-image">
                                    <img src="img/pizza/6.jpg" alt="Breakfast">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h2>Sixth step</h2>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <h4></h4>
                                        <h4> The dough that has come up needs to be kneaded and divided into two parts, you will get two pizzas with a diameter of 30 centimeters. Roll out thinly on parchment, add flour if necessary. Brush the dough with your
                                            favorite tomato sauce.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="breakfast-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="breakfast-menu-content">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>Seventh step</h2>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <h4></h4>
                                        <h4>Generously sprinkle a layer of tomato sauce with chopped mozzarella.</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="right-image">
                                    <img src="img/pizza/7.jpg" alt="Breakfast">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="breakfast-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="breakfast-menu-content">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="left-image">
                                    <img src="img/pizza/8.jpg" alt="Breakfast">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h2>Eighth step</h2>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <h4></h4>
                                        <h4>Arrange the pepperoni slices on top. Place in a preheated oven to 200 degrees for 15 minutes in the lower and upper heating mode.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="breakfast-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="breakfast-menu-content">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>Ninth step</h2>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <h4></h4>
                                        <h4>Serve the finished pizza to the table hot, sliced into slices with a sharp knife.</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="right-image">
                                    <img src="img/pizza/9.jpg" alt="Breakfast">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="breakfast-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="breakfast-menu-content">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>Last step</h2>
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        <h4></h4>
                                        <h4>Pizza with pepperoni and mozzarella is ready. Enjoy your meal.</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="right-image">
                                    <img src="img/pizza/10.jpg" alt="Breakfast">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="sign-up">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>If you have another recipe, you can send it to us</h2>
                    </div>
                </div>
            </div>
            <form id="contact" action="" method="get">
                <div class="row">
                    <div class="col-md-4 col-md-offset-3">
                        <fieldset>
                            <input name="email" type="text" class="form-control" id="email" placeholder="Enter your email here..." required="">
                        </fieldset>
                    </div>
                    <div class="col-md-2">
                        <fieldset>
                            <button type="submit" id="form-submit" class="btn">Send Message</button>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>Copyright &copy; 2023 AITU kitchen</p>
                </div>
                <div class="col-md-4">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p>Design: CS-2309</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
    </script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>	-->
    <script type="text/javascript">
        $(document).ready(function() {
            // navigation click actions 
            $('.scroll-link').on('click', function(event) {
                event.preventDefault();
                var sectionID = $(this).attr("data-id");
                scrollToID('#' + sectionID, 750);
            });
            // scroll to top action
            $('.scroll-top').on('click', function(event) {
                event.preventDefault();
                $('html, body').animate({
                    scrollTop: 0
                }, 'slow');
            });
            // mobile nav toggle
            $('#nav-toggle').on('click', function(event) {
                event.preventDefault();
                $('#main-nav').toggleClass("open");
            });
        });
        // scroll function
        function scrollToID(id, speed) {
            var offSet = 0;
            var targetOffset = $(id).offset().top - offSet;
            var mainNav = $('#main-nav');
            $('html,body').animate({
                scrollTop: targetOffset
            }, speed);
            if (mainNav.hasClass("open")) {
                mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                mainNav.removeClass("open");
            }
        }
        if (typeof console === "undefined") {
            console = {
                log: function() {}
            };
        }
    </script>
</body>

</html>