{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/сrecept.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontAwesome.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hero-slider.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Our Menu</h1>
                    <p>Here you will learn new things and taste delicious things. Breakfast, lunch, dinner, everything will be here.</p>
                </div>
            </div>
        </div>
    </section>



<div class="content-wrapper">
    <h2 class="page-title">Recipes</h2>
    <a href="{{ url_for('recipe.add_recipe') }}" class="add-recipe-button">+ Add New Recipe</a>
    <ul class="recipe-list">
        {% for recipe in recipes %}
            <li class="recipe-item">
                <a href="{{ url_for('recipe.recipe_detail', recipe_id=recipe.id) }}" class="recipe-link">
                    {{ recipe.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<footer>
    <p>&copy; 2024 Roblox Restaurant. All rights reserved.</p>
</footer>
{% endblock %}
